body {
  min-width: 1440;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
  color: #000000;
  line-height: 30px;
}

img {
  max-width: 100%;
  height: auto;
}

.navigation {
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.navigation__list,
.navigation__basket {
  list-style: none;
}

.navigation-current a:not((href)) {
  background-color: #000000;
}

.navigation a:hover {
  color: #FB565A;
}

.advantages__list {
  list-style: none;
}

.adventages__item {
  text-align: center;
}

.adventages__title {
  font-size: 24px;
  line-height: 30px;
}

.adventages__text {
  color: #283136;
}

.adventages__link {
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
  border-radius: 3px;
}

.website {
  background: #FB565A;
}

.applications {
  background: #00CA74;
}

.presentation {
  background: #EFC849;
}

.about-us__title {
  font-size: 45px;
  line-height: 45px;
}

.about-us__text {
  color: #283136;
}

.about-us__list-text {
  font-weight: bold;
  color: #283136;
  text-transform: uppercase;
}

.about-us__list {
  color: #283136;
}

.title {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.statistics__list {
  display: flex;
  align-items: center;
  text-align: center;
}

.statistics__termin {
  font-weight: bold;
  font-size: 45px;
  line-height: 64px;
}

.statistics__data {
  font-size: 16px;
  line-height: 18px;
  color: #283136;
}

.customers {
  text-align: center;
}

.write-us__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.write-us__text,
.write-us__tel {
  color: #666666;
  font-size: 16px;
  line-height: 18px;
}

.write-us__link {
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #FB565A;
}

.socials__list {
  list-style: none;
}

.friends__text1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  display: flex;
  align-items: center;
}

.friends__text2 {
  line-height: 22px;
  color: #444444;
  display: flex;
  align-items: center;
}

.contacts__title {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
}

.contacts__label {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.button {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-color: #FB565A;
}
